.App {
    font-family: sans-serif;
    text-align: center;
  }
  table {
    border-collapse: collapse;
    border: 2px solid forestgreen;
    width: 800px;
    height: 200px;
  }
    
  td,th {
    text-align: left;
  }